body{
  background: #f4f4f4;
}

/* .formContainer {
  background-color: #f4f4f4;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
} */

.formHeading {
  text-align: center;
  margin-bottom: 20px;
}

.successContainer {
  text-align: center;
  padding: 10px;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.failureContainer {
  text-align: center;
  padding: 10px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.successMessage {
  margin-top: 10px;
  color: darkgreen;
}

.failureMessage {
  margin-top: 10px;
  color: red;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  opacity: 3;
  width: 500px;
  padding: 30px 0 30px 0;
  margin-left: auto;
  margin-right: auto;
}

.inputField {
  margin-bottom: 10px;
  padding: 8px;
  width: 300px;
  border-radius: 4px;
}

.submitButton {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
}

.submitButton:hover {
  background-color: #45a049;
}



.customShapeBg {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #f4f4f4;
}

.customShapeBg::before,
.customShapeBg::after {
  content: '';
  position: absolute;
  bottom: 100%;
}

.customShapeBg::before {
  left: 0;
  border-style: solid;
  border-width: 0 100vw 100px 0;
  border-color: transparent #f4f4f4 transparent transparent;
}

.customShapeBg::after {
  right: 0;
  border-style: solid;
  border-width: 0 0 100px 100vw;
  border-color: transparent transparent #f4f4f4 transparent;
}